@import "../_variables";
section {
    background: url(../../images/error-bg.jpg) no-repeat;
    background-position: center;
    text-align: center;
    background-size: cover;
}

.movie-item {
    position: relative;
    margin-right: 30px;
    border-radius: 5px;

    img {
        width: 100%;
    }
}

.mv-img {
    position: relative;
}
.title-in {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-bottom: 20px;
    bottom: 20px;
    left: 0;
    position: absolute;

    h6 {
        font-size: 24px;
        color: $color2;
        font-weight: bold;
        text-transform: uppercase;
    }
    p {
        color: $white;
    }
}

.movie-items {
    height: 100vh;
    background: url(../../images/slider-bg.jpg) no-repeat;
    background-position: center;
    text-align: center;
    background-size: cover;
    position: relative;
    padding-bottom: 50px;
    padding-left: 200px;
    padding-right: 200px;
    display: flex !important;
    align-items: center !important;
}

.movie-img {
    img {
        min-height: 400px;
        max-height: 400px;
        height: auto;
    }
}
.container {
    max-width: 1000px;
}

.swiper-pagination {
    position: relative !important;
    bottom: 20px !important;
}
