@import '../variables';


.navbar-brand{ 
    color: $white;
}
.navbar {
    background-color: $color;
    padding: 0;
}

.navBar{
  margin: auto;
}

.nav-link {
    color: $white;
}

.nav-link:hover {
    color: $color2;
}

.shopping-icon {
    cursor: pointer;
    color: $white;
    height: 40px;
    margin-right: 40px
}

.shopping-icon:hover {
    color: $color2;
}